@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-secondary;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

.btn-primary {
  @apply bg-primary text-white px-6 py-2 rounded-full font-medium hover:bg-opacity-90 transition-all duration-300 transform hover:scale-105 shadow-md hover:shadow-lg;
}
